.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Debe ser transparente para que el fondo oscuro sea visible */
  opacity: 0.3;
}
